body {
    background-image: url("./pictures/bubbles.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
img {
    width: 300px;
    transition: 1s;
}

.main-picture {
    width: 800px;
    display: block;
    margin: 0 auto;
}

h1, h2, h3 {
    color: rgb(14, 130, 232);
    text-align: center; 
}

img:hover { 
    box-shadow: 10px 10px 15px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    cursor: pointer;
}

.gallery {
    margin-top: 10px;
}
h1, h2, h3, p {
    font-weight: bold;
}

p {
    font-size: 18px;
    color: rgb(71, 71, 71);
}